h1{
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);
}
p{
    text-align: center;
    font-size: large;
}
aside{
    text-align: center;
}
#tip1{
    float: center;
    font-size: 25px;
    margin-left: 30px;
}

#total1{
    float: center;
    font-size: 25px;
    margin-left: 30px;
}

button.button{
    color: blue; 
    border: 2px grey solid;
    border-radius: 35px;
    text-align: center;
    padding: 15px;
    font-size: 35px;
    float: center;
    width: 50%;
}

button:hover {
    cursor: pointer;
    background-color: grey;
    border: 2px black solid;
}

#tip:hover{
    border: 2px black solid;
}
#total:hover{
    border: 2px black solid;
}
#answer{
    color: blue; 
    font-size: large;
}
input.input{
    text-align: center;
    border: 2px grey solid;
    border-radius: 20px;
    padding: 10px;
    margin-right: 340px;
    float: right;
    width: 20%;
    font-size: large;
}
